/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px 'PT Serif', serif; background:#ffffff; color:#654d00; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px 'PT Serif', serif; color:#654d00; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

@font-face {
    font-family: 'als_rubl';
    src: url('../fonts/alsrubl.eot');
    src: url('../fonts/alsrubl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alsrubl.woff') format('woff'),
         url('../fonts/alsrubl.ttf') format('truetype'),
         url('../fonts/alsrubl.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    width: 940px;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
    float: left;
    width: 220px;
    background-image: url('../images/bg_sidebar.jpg');
}

    .main-logo {
        overflow: hidden;
        float: left;
        margin: 30px 0 79px 25px;
        width: 170px;
        height: 110px;
    }
        .main-logo img {
            width: 170px;
            height: 110px;
        }

    .sidebar h4 {
        margin: 0 0 29px 61px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: #611c1c;
    }

    .list-catalog {
        padding: 0 10px;
    }
        .list-catalog li {
            position: relative;
            margin-bottom: 30px;
            text-align: center;
        }
        .list-catalog li:before {
            content: "";
            position: absolute;
            top: -15px;
            left: 80px;
            width: 30px;
            height: 1px;
            background-color: #e3dac7;
        }
        .list-catalog li:first-child:before {
            width: 0;
            height: 0;
        }
            .list-catalog a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 18px;
                -webkit-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                transition-duration: 0.2s;
            }
            .list-catalog a:hover {
                color: #5e1b1a;
            }
            .list-catalog :active {
                color: #4b1515;
            }
/*----------------------------------------------------------------------------------*/
/*-----------------------------------WRAPPER-BOX------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-box {
    width: 720px;
    margin-left: 220px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header{
    width: 720px;
    height: 160px;
}
        .box-cart,
        .box-authorization {
            width: 140px;
            background-color: #efecde;
        }
        .box-cart {
            height: 99px;
            border-bottom: 1px solid #e5e0c7;
        }
            .cart {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 36px;
                margin: 17px 50px 3px 50px;
                background-image: url('../images/header/busket.png');
            }
                .cnt-goods {
                    position: absolute;
                    display: block;
                    top: 1px;
                    left: -7px;
                    width: 18px;
                    height: 18px;
                    background-color: #5e1b1b;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px ;
                    text-align: center;
                    font-size: 10px;
                    font-weight: 700;
                    line-height: 18px;
                    color: #ffffff;
                }
            .price {
                display: block;
                font-size: 17px;
                font-weight: 700;
                font-style: italic;
                color: #654d00;
                text-align: left;
            }
            .box-cart .price {
                font-size: 20px;
                color: #5e1b1b;
                text-align: center;
            }
                .rubl {
                    font: 14px 'als_rubl', serif;
                    font-style: italic;
                    color: #654d00;
                }
                .box-cart .rubl {
                    font-size: 16px;
                    color: #5e1b1b;
                }

        .box-authorization {
            height: 60px;
            text-align: center;
        }
            .box-authorization a {
                position: relative;
                top: 19px;
                left: 9px;
                border-bottom: 1px dashed #654d00;
            }
            .box-authorization a:hover {
                text-decoration: none;
                color: #611c1c;
                border-bottom-color: #611c1c;
            }
            .box-authorization a:before {
                content: "";
                position: absolute;
                top: 5px;
                left: -18px;
                width: 12px;
                height: 12px;
                background-image: url('../images/header/user_icon.png');
            }
            .box-authorization a:hover:before{
                background-image: url('../images/header/user_icon_hover.png');
            }


.center-header {
        overflow: hidden;
        width: 580px;
    }
        .contact-box {
            height: 59px;
            border-bottom: 1px solid #e5e0c7;
        }
            .contact {
                display: inline-block;
                padding: 14px 15px 0 19px;
            }
                .contact header {
                    font-family: 'PT Sans', sans-serif;
                    font-size: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2.6px;
                }
                .contact span {
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 1.6px;
                    color: #5e1b1b;
                }

                a.btn-call-me {
                    float: right;
                    height: 28px;
                    width: 160px;
                    margin: 15px 20px 0 0;
                    text-align: center;
                    font: 12px 'PT Sans', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 30px;
                    color: #ffffff;
                    border-radius: 13px;
                    -webkit-border-radius: 13px;
                    -moz-border-radius: 13px;
                    background-color: #aa9a4f;
                    -webkit-transition-duration: 0.2s;
                    -o-transition-duration: 0.2s;
                    -moz-transition-duration: 0.2s;
                    transition-duration: 0.2s;
                }
                a.btn-call-me:hover {
                    text-decoration: none;
                    background-color: #611c1c;
                }
                a.btn-call-me:active {
                    background-color: #4b1515;
                }

            .search-box {
                height: 60px;
            }
                .search-form{
                    position: relative;
                }
                    .search-box input[type=text] {
                        display: inline-block;
                        width: 514px;
                        margin: 14px 0 0 20px;
                        padding-bottom: 6px;
                        font: 14px 'PT Serif', serif;
                        color: #654d00;
                        border: none;
                        border-bottom: 1px solid #AA9A4F;
                    }
                    .search-box select {
                        display: none;
                    }
                    .search-box input[type=submit] {
                        position: relative;
                        z-index: 10;
                        width: 17px;
                        height: 17px;
                        top: 22px;
                        left: -20px;
                        float: right;
                        border: none;
                        background-color: transparent;
                    }
                    .fa-search {
                        position: absolute;
                        right: 21px;
                        top: 23px;
                        font-size: 16px !important;
                        color: #AA9A4F;
                    }
                    .search-box input[type="submit"]:hover + .fa-search {
                        color: #611c1c;
                    }
                    .search-box input[type="submit"]:active + .fa-search {
                        color: #4b1515;
                    }


/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #e5e0c7;
}
    .main-nav li {
        display: inline-block;
        padding-left: 40px;
    }
    .main-nav li:first-child {
        padding-left: 20px;
    }
    .main-nav a{
        text-decoration: none;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .main-nav a:hover {
        color: #5e1b1a;
    }
    .main-nav :active {
        color: #4b1515;
    }


/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.home-slider-top {
    height: 280px;
    background: #E2E2E2;
}

/*-----------------------------------TOP-SELLERS------------------------------------*/
.top-sellers {
    height: 141px;
    margin: -1px 0 54px;
}
    .top-sellers li {
        position: relative;
        float: left;
        width: 319px;
        height: 99px;
        padding: 20px;
        border: 1px solid #E5E0C7;
        border-left: none;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .top-sellers li:hover {
        -webkit-box-shadow: 0 0 6px 1px rgba(223, 218, 199, 1);
        -moz-box-shadow: 0 0 6px 1px rgba(223, 218, 199, 1);
        box-shadow: 0 0 6px 1px rgba(223, 218, 199, 1);
    }
        .discount {
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            height: 35px;
            width: 33px;
            padding-right: 2px;
            background: url("../images/content/discount_bg.png") top right no-repeat;
            font: 700 11px "PT Serif", serif;
            text-align: right;
            line-height: 28px;
            color: #ffffff;
        }
        .top-sellers-img {
            display: inline-block;
            float: right;
            width: 130px;
            text-align: center;
            vertical-align: middle;
        }
            .top-sellers-img img {
                max-width: 140px;
                max-height: 100px;
            }
        .header-top-sellers {
            margin: -6px 0 17px;
            text-transform: uppercase;
            font: 700 18px "PT Serif";
            letter-spacing: 3px;
            color: #5e1b1b;
        }
        .product-name {
            margin-bottom: 10px;
            font: 500 16px "PT Sans";
            color: #654d00;
        }
        .price-box {
            float: left;
            width: 80px;
        }
            .old-price,
            .old-price .rubl {
                text-decoration: line-through;
                font-size: 12px;
                font-style: italic;
                color: #cfbf70;
            }
                .old-price .rubl {
                    font-size: 13px;
                }
            .old-price + .price {
                margin-top: -4px;
            }
        a.btn-buy {
            position: relative;
            display: inline-block;
            height: 26px;
            width: 83px;
            padding-left: 25px;
            -webkit-border-radius: 14px;
            -moz-border-radius: 14px;
            border-radius: 14px;
            background: #611C1C;
            font: 700 12px "PT Serif";
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #ffffff;
            text-align: center;
            -webkit-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
        a.btn-buy:before {
            content: "";
            left: 1px;
            top: 1px;
            position: absolute;
            width: 24px;
            height: 24px;
            -webkit-border-radius: 13px;
            -moz-border-radius: 13px;
            border-radius: 13px;
            background: url("../images/content/btn_buy_bg.png") no-repeat center #FFFFFF;
            -webkit-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
        .btn-buy:hover {
            text-decoration: none;
            background: #AA9A4F;
        }
        .btn-buy:hover:before {
            background: url("../images/content/btn_buy_hover_bg.png") no-repeat center #FFFFFF;
        }
        .btn-buy:active {
            background: #948644;
        }
        .top-sellers .btn-buy {
            margin-top: 5px;
        }

/*--------------------------------RECOMMENDATIONS-----------------------------------*/
.recommendations-block h2 {
    position: relative;
    margin-bottom: 32px;
    text-transform: uppercase;
    font: 700 24px "PT Serif";
    letter-spacing: 4px;
    color: #5e1b1b;
    text-align: center;
}
.recommendations-block h2:before,
.recommendations-block h2:after {
    content: "";
    position: absolute;
    top: 7px;
    width: 130px;
    height: 20px;
}
.recommendations-block h2:before {
    left: 30px;
    background: url("../images/content/header_before_bg.png") no-repeat center;
}
.recommendations-block h2:after {
    right: 30px;
    background: url("../images/content/header_after_bg.png") no-repeat center;
}

.list-recommendations {
    border-top: 3px solid #AA9A4F;
}
    .list-recommendations li {
        position: relative;
        float: left;
        width: 199px;
        height: 227px;
        padding: 15px 20px;
        border-right: 1px solid #E5E0C7;
        border-bottom: 1px solid #E5E0C7;
    }
        .hit {
            position: absolute;
            top: 0;
            right: 20px;
            width: 30px;
            height: 32px;
            background: #AA9A4F;
            font: 700 11px "PT Serif";
            line-height: 24px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.3px;
        }
        .hit:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 1px;
            border-left: 14px solid transparent;
            border-bottom: 9px solid #ffffff;
            border-right: 14px solid transparent;
        }


.brands-slider {
    height: 100px;
    background: #E2E2E2;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    clear: right;
    padding: 25px 0 0 0;
}
    .footer-logo {
        width: 250px;
        height: 78px;
        margin: 0 auto 16px;
        text-align: center;
        background-image: url('../images/footer/footer_logo.png');
    }
        .footer-logo a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 66px;
            letter-spacing: 13px;
            color: #654d00;
        }

    .soc-links {
        display: table;
        width: auto;
        margin: 0 auto 16px;
    }
        .soc-links li {
            float: left;
            margin: 0 5px ;
        }
             .vk a {
                text-decoration: none;
                font:700 17px 'PT Sans';
             }
             .tw i {
                 margin-left: 2px;
             }
            .soc-links a {
                overflow: hidden;
                display: inline-block;
                width: 30px;
                height: 30px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color:	#AA9A4F;
                opacity: 0.5;
                -webkit-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                transition-duration: 0.2s;
                border: 1px solid #AA9A4F;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -o-border-radius: 20px;
                background-color: transparent;
            }
            .soc-links a:hover {
                opacity: 1;
            }
            
    .footer p{
        margin-bottom: 40px;
        text-align: center;
    }

/*--------------------------------------OTHER---------------------------------------*/
.reg-popup {
    overflow: hidden;
    width: 465px;
    height: 315px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    box-shadow:         0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    background-color: #E5E0C7;
}
    .btn-close {
        cursor: pointer;
        float: right;
        margin: 6px 12px 0 0;
        font-size: 18px;
    }
    .btn-close:hover {
        color: #5e1b1a;
    }
    .btn-close:active {
        color: #4b1515;
    }

    a.name-form {
        float: left;
        margin: 24px 0 35px 30px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #5e1b1b;
    }
    a.login-link {
        float: left;
        margin: 28px 0 0 38px;
        font: 14px 'PT Serif', serif;
        color: #654d00;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px dashed #654d00;
    }
    a.login-link:hover {
        color: #5e1b1a;
        border-bottom-color: #5e1b1a;
    }
    a.login-link:active {
        color: #4b1515;
        border-bottom-color: #4b1515;
    }
        .reg-popup ul,
        .login-popup ul,
        .call-me-popup ul,
        .buy-one-click-popup ul{
            clear: both;
        }
            .reg-popup li,
            .login-popup li,
            .call-me-popup li,
            .buy-one-click-popup li{
                overflow: hidden;
                margin: 0 0 20px 30px;
            }
                .reg-popup label,
                .login-popup label,
                .call-me-popup label,
                .buy-one-click-popup label{
                    font-weight: 700;
                    line-height: 33px;
                    color: #654d00;
                }
                .reg-popup input[type=text],
                .reg-popup input[type=password],
                .login-popup input[type=text],
                .login-popup input[type=password],
                .call-me-popup input[type=text],
                .call-me-popup input[type=tel],
                .buy-one-click-popup input[type=text],
                .buy-one-click-popup input[type=tel]{
                    float: right;
                    width: 250px;
                    height: 33px;
                    padding-left: 11px;
                    margin-right: 30px;
                    font-size: 16px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -o-border-radius: 20px;
                    border-radius: 11px;
                    border: none;
                    color: #654d00;
                    background-color: #F0EDDD;
                }


    .btn-reg {
        display: block;
        width: 250px ;
        height: 35px;
        margin: 29px auto 0;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #ffffff;
        border: none;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        background-color: #611C1C;
    }
    .btn-reg:hover,
    .btn-login:hover,
    .btn-send:hover {
        background-color: #AA9A4F;
    }
    .btn-reg:active,
    .btn-login:active,
    .btn-send:active {
        background-color: #948644;
    }

.login-popup {
    overflow: hidden;
    width: 465px;
    height: 280px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    box-shadow:         0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    background-color: #E5E0C7;
}
    .btn-login {
        display: block;
        width: 100px ;
        height: 35px;
        margin: 29px auto 0;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #ffffff;
        border: none;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        background-color: #611C1C;
    }

.call-me-popup{
    overflow: hidden;
    width: 465px;
    height: 280px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    box-shadow:         0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    background-color: #E5E0C7;
}
    .call-me-popup p,
    .buy-one-click-popup p{
        float: right;
        margin: -12px 34px 25px 0;
        width: 250px;
        font-size: 14px;
        font-style: italic;
    }
    .cod-tel {
        padding-left: 55px;
    }
    .btn-send {
        clear: both;
        display: block;
        width: 145px;
        height: 35px;
        margin: 29px auto 0;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #ffffff;
        border: none;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        background-color: #611C1C;
    }
.buy-one-click-popup{
    overflow: hidden;
    width: 465px;
    height: 300px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    box-shadow:         0px 0px 30px 3px rgba(0, 0, 0, 0.11);
    background-color: #E5E0C7;
}