/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px 'PT Serif', serif; background:#ffffff; color:#654d00; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px 'PT Serif', serif; color:#654d00; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

/*font-family: 'PT Sans', sans-serif;*/
/*font-family: 'PT Serif', serif;*/
/*font-family: 'als_rubl', serif;*/

@font-face {
    font-family: 'als_rubl';
    src: url('../fonts/alsrubl.eot');
    src: url('../fonts/alsrubl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alsrubl.woff') format('woff'),
         url('../fonts/alsrubl.ttf') format('truetype'),
         url('../fonts/alsrubl.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
    float: left;
    width: 220px;
    background-image: url('../images/bg_sidebar.jpg');
}

    .main-logo {
        overflow: hidden;
        float: left;
        margin: 30px 0 79px 25px;
        width: 170px;
        height: 110px;
    }
        .main-logo img {
            width: 170px;
            height: 110px;
        }

    .sidebar h4 {
        margin: 0 0 29px 61px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: #611c1c;
    }

    .list-catalog {
        padding: 0 10px;
    }
        .list-catalog li {
            position: relative;
            margin-bottom: 30px;
            text-align: center;
        }
        .list-catalog li:before {
            content: "";
            position: absolute;
            top: -15px;
            left: 80px;
            width: 30px;
            height: 1px;
            background-color: #e3dac7;
        }
        .list-catalog li:first-child:before {
            width: 0;
            height: 0;
        }
            .list-catalog a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 18px;
            }
            .list-catalog a:hover {
                color: #5e1b1a;
            }
/*----------------------------------------------------------------------------------*/
/*-----------------------------------WRAPPER-BOX------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-box {
    width: 720px;
    margin-left: 220px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header{
    width: 720px;
    height: 160px;
}
        .box-busket,
        .box-authorization {
            width: 140px;
            background-color: #efecde;
        }
        .box-busket {
            height: 99px;
            border-bottom: 1px solid #e5e0c7;
        }
            .cnt-goods {
                display: block;
                width: 20px;
                height: 20px;
                background-color: #5e1b1b;
                border-radius: 10px ;
                font-size: 10px;
                font-weight: 700;
                color: #ffffff;
            }
            .price {
                font-size: 20px;
                font-weight: 700;
                font-style: italic;
                color: #5e1b1b;
            }
            .rubl {
                font: 14px 'als_rubl', serif;
                color: #5e1b1b;
            }

        .box-authorization {
            height: 60px;
            text-align: center;
        }
            .box-authorization a {

            }

    .center-header {
        overflow: hidden;
        width: 580px;
    }
        .contact-box {
            height: 59px;
            border-bottom: 1px solid #e5e0c7;
        }
            .contact {
                display: inline-block;
                padding: 14px 15px 0 19px;
            }
                .contact header {
                    font-family: 'PT Sans', sans-serif;
                    font-size: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2.6px;
                }
                .contact span {
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 1.6px;
                    color: #5e1b1b;
                }

                a.bt-call-me {
                    float: right;
                    height: 28px;
                    width: 160px;
                    margin: 15px 20px 0 0;
                    text-align: center;
                    font: 12px 'PT Sans', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 30px;
                    color: #ffffff;
                    border-radius: 13px;
                    -webkit-border-radius: 13px;
                    -moz-border-radius: 13px;
                    background-color: #aa9a4f;
                }
                a.bt-call-me:hover {
                    text-decoration: none;
                }

            .search-box {
                height: 60px;
            }
/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #e5e0c7;
}
    .main-nav li {
        display: inline-block;
        padding-left: 40px;
    }
    .main-nav li:first-child {
        padding-left: 20px;
    }


/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.home-slider-top {
    height: 280px;
    background: #E2E2E2;
}

.brands-slider {
    height: 100px;
    background: #E2E2E2;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    clear: right;
}
    .footer-logo {
        width: 250px;
        height: 78px;
        background-image: url('../images/footer/footer_logo.png');
    }
        .footer-logo a {
            font-weight: 700;
            color: #654d00;
        }

    .footer p{

    }