/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px 'PT Serif', serif; background:#ffffff; color:#654d00; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px 'PT Serif', serif; color:#654d00; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

@font-face {
    font-family: 'als_rubl';
    src: url('../fonts/alsrubl.eot');
    src: url('../fonts/alsrubl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alsrubl.woff') format('woff'),
         url('../fonts/alsrubl.ttf') format('truetype'),
         url('../fonts/alsrubl.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    width: 940px;
    margin: 0 auto;
}

/*-------------------------------------BUTTONS--------------------------------------*/
.btn,
a.btn {
    display: inline-block;
    border: none;
    font: 700 12px "PT Serif";
    text-transform: uppercase;
    line-height: 33px;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
    .btn,
    a.btn:hover {
        text-decoration: none;
    }

.btn-first,
a.btn-first {
    background: #611C1C;
}
    .btn-first:hover,
    a.btn-first:hover {
        background: #AA9A4F;
    }
    .btn-third:active,
    a.btn-third:active {
        background: #948644;
    }

.btn-second,
a.btn-second {
    background: #E5E0C7;
    color: #611c1c;
    text-transform: none;
    letter-spacing: normal;
}
    .btn-second:hover,
    a.btn-second:hover {
        background: #AA9A4F;
        color: #ffffff;
    }
    .btn-second:active,
    a.btn-second:active {
        background: #948644;
        color: #ffffff;
    }

.btn-third,
a.btn-third {
    background: #AA9A4F;
}
    .btn-third:hover,
    a.btn-third:hover {
        background: #611C1C;
    }
    .btn-third:active,
    a.btn-third:active {
        background: #4B1515;
    }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
    float: left;
    width: 220px;
    background-image: url('../images/bg_sidebar.jpg');
}

    .main-logo {
        overflow: hidden;
        float: left;
        margin: 30px 0 79px 25px;
        width: 170px;
        height: 110px;
    }
        .main-logo img {
            width: 170px;
            height: 110px;
        }

    .sidebar h4 {
        margin: 0 0 29px 61px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: #611c1c;
    }

    .list-catalog {
        padding: 0 10px;
    }
        .list-catalog li {
            position: relative;
            margin-bottom: 30px;
            text-align: center;
        }
        .list-catalog li:before {
            content: "";
            position: absolute;
            top: -15px;
            left: 80px;
            width: 30px;
            height: 1px;
            background-color: #e3dac7;
        }
        .list-catalog li:first-child:before {
            width: 0;
            height: 0;
        }
            .list-catalog a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 18px;
                -webkit-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                transition-duration: 0.2s;
            }
            .list-catalog a:hover {
                color: #5e1b1a;
            }
            .list-catalog :active {
                color: #4b1515;
            }
/*----------------------------------------------------------------------------------*/
/*-----------------------------------WRAPPER-BOX------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-box {
    width: 720px;
    margin-left: 220px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header{
    width: 720px;
    height: 160px;
}
        .box-cart,
        .box-authorization {
            width: 140px;
            background-color: #efecde;
        }
        .box-cart {
            height: 99px;
            border-bottom: 1px solid #e5e0c7;
        }
            .cart {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 36px;
                margin: 17px 50px 3px 50px;
                background-image: url('../images/header/busket.png');
            }
                .cnt-goods {
                    position: absolute;
                    display: block;
                    top: 1px;
                    left: -7px;
                    width: 18px;
                    height: 18px;
                    background-color: #5e1b1b;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px ;
                    text-align: center;
                    font-size: 10px;
                    font-weight: 700;
                    line-height: 18px;
                    color: #ffffff;
                }
            .price {
                display: block;
                font-size: 17px;
                font-weight: 700;
                font-style: italic;
                color: #654d00;
                text-align: left;
            }
            .box-cart .price {
                font-size: 20px;
                color: #5e1b1b;
                text-align: center;
            }
                .rubl {
                    font: 14px 'als_rubl', serif;
                    font-style: italic;
                    color: #654d00;
                }
                .box-cart .rubl {
                    font-size: 16px;
                    color: #5e1b1b;
                }

        .box-authorization {
            height: 60px;
            text-align: center;
        }
            .box-authorization a {
                position: relative;
                top: 19px;
                left: 9px;
                border-bottom: 1px dashed #654d00;
            }
            .box-authorization a:hover {
                text-decoration: none;
                color: #611c1c;
                border-bottom-color: #611c1c;
            }
            .box-authorization a:before {
                content: "";
                position: absolute;
                top: 5px;
                left: -18px;
                width: 12px;
                height: 12px;
                background-image: url('../images/header/user_icon.png');
            }
            .box-authorization a:hover:before{
                background-image: url('../images/header/user_icon_hover.png');
            }


    .center-header {
        overflow: hidden;
        width: 580px;
    }
        .contact-box {
            height: 59px;
            border-bottom: 1px solid #e5e0c7;
        }
            .contact {
                display: inline-block;
                padding: 14px 15px 0 19px;
            }
                .contact header {
                    font-family: 'PT Sans', sans-serif;
                    font-size: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2.6px;
                }
                .contact span {
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 1.6px;
                    color: #5e1b1b;
                }

                a.btn-call-me {
                    float: right;
                    height: 28px;
                    width: 160px;
                    margin: 15px 20px 0 0;
                    font: 12px 'PT Sans', sans-serif;
                    line-height: 30px;
                    -webkit-border-radius: 13px;
                    -moz-border-radius: 13px;
                    border-radius: 13px;
                }

            .search-box {
                height: 59px;
                border-bottom: 1px solid #E5E0C7;
            }
                .search-form{
                    position: relative;
                }
                    .search-box input[type=text] {
                        display: inline-block;
                        width: 514px;
                        margin: 14px 0 0 20px;
                        padding-bottom: 6px;
                        font: 14px 'PT Serif', serif;
                        color: #654d00;
                        border: none;
                        border-bottom: 1px solid #AA9A4F;
                    }
                    .search-box select {
                        display: none;
                    }
                    .search-box input[type=submit] {
                        position: relative;
                        z-index: 10;
                        width: 17px;
                        height: 17px;
                        top: 22px;
                        left: -20px;
                        float: right;
                        border: none;
                        background-color: transparent;
                    }
                    .fa-search {
                        position: absolute;
                        right: 21px;
                        top: 23px;
                        font-size: 16px !important;
                        color: #AA9A4F;
                    }
                    .search-box input[type="submit"]:hover + .fa-search {
                        color: #611c1c;
                    }
                    .search-box input[type="submit"]:active + .fa-search {
                        color: #4b1515;
                    }


/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #e5e0c7;
}
    .main-nav li {
        display: inline-block;
        padding-left: 40px;
    }
    .main-nav li:first-child {
        padding-left: 20px;
    }
    .main-nav a{
        text-decoration: none;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .main-nav a:hover {
        color: #5e1b1a;
    }
    .main-nav :active {
        color: #4b1515;
    }


/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.home-slider-top {
    position: relative;
    overflow: hidden;
    height: 280px;
    background: #2F2F2D;
}
    .home-slider-top .slider li {
        position: relative;
        width: 720px;
    }
        .slider-text {
            position: absolute;
            display: table;
            width: 229px;
            height: 105px;
            padding: 28px 30px 30px;
            top: 58px;
            left: 42px;
            background: url("../images/slider/slider_text_bg.png") no-repeat center;
            text-align: center;
            font: 400 16px "PT Serif";
            line-height: 22px;
            color: #edefe0;
        }
            .slider-text p {
                display: table-cell;
                vertical-align: middle;
            }

    .pagination {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center;
    }
        .pagination li {
            display: inline-block;
        }
        .pagination a {
            overflow: hidden;
            display: inline-block;
            width: 13px;
            height: 13px;
            margin: 0 5px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            background: #C4C0B3;
            text-indent: 100%;
            white-space: nowrap;
            opacity: 0.7;
            -webkit-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
        .pagination a:hover {
            opacity: 1;
        }
        .pagination li.active a {
            background: #9D8D46;
            opacity: 0.8;
        }
        .pagination li.active a:hover {
            opacity: 1;
        }

/*-----------------------------------TOP-SELLERS------------------------------------*/
.top-sellers {
    overflow: hidden;
    margin-top: -1px;
    padding-bottom: 54px;
}
    .top-sellers li {
        position: relative;
        float: left;
        width: 319px;
        height: 99px;
        padding: 20px;
        border: 1px solid #E5E0C7;
        border-left: none;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .shadow-box li:hover {
        z-index: 1;
        -webkit-box-shadow: 0 0 6px 1px rgba(223, 218, 199, 1);
        -moz-box-shadow: 0 0 6px 1px rgba(223, 218, 199, 1);
        box-shadow: 0 0 6px 1px rgba(223, 218, 199, 1);
    }
        .discount {
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            height: 35px;
            width: 33px;
            padding-right: 2px;
            background: url("../images/content/discount_bg.png") top right no-repeat;
            font: 700 11px "PT Serif", serif;
            text-align: right;
            line-height: 28px;
            color: #ffffff;
        }
        .top-sellers-img {
            display: inline-block;
            float: right;
            width: 130px;
            text-align: center;
            vertical-align: middle;
        }
            .top-sellers-img img {
                max-width: 140px;
                max-height: 100px;
            }
        .header-top-sellers {
            margin: -6px 0 17px;
            text-transform: uppercase;
            font: 700 18px "PT Serif";
            letter-spacing: 3px;
            color: #5e1b1b;
        }
        .product-name {
            margin-bottom: 10px;
            font: 500 16px "PT Sans";
            color: #654d00;
        }
        .payment-box {
            position: absolute;
            bottom: 14px;
            left: 20px;
        }
        .top-sellers .payment-box {
            bottom: 18px;
        }
            .price-box {
                float: left;
                width: 70px;
            }
                .old-price,
                .old-price .rubl {
                    text-decoration: line-through;
                    font-size: 12px;
                    font-style: italic;
                    color: #cfbf70;
                }
                    .old-price .rubl {
                        font-size: 13px;
                    }
                .old-price + .price {
                    margin-top: -4px;
                }
            .buy {
                vertical-align: middle;
            }
                a.btn-buy {
                    position: absolute;
                    bottom: 2px;
                    height: 26px;
                    width: 83px;
                    padding-left: 25px;
                    -webkit-border-radius: 13px;
                    -moz-border-radius: 13px;
                    border-radius: 13px;
                    line-height: 26px;
                }
                a.btn-buy:before {
                    content: "";
                    left: 1px;
                    top: 1px;
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    -webkit-border-radius: 12px;
                    -moz-border-radius: 12px;
                    border-radius: 12px;
                    background: url("../images/content/btn_buy_bg.png") no-repeat center #FFFFFF;
                    -webkit-transition-duration: 0.2s;
                    -o-transition-duration: 0.2s;
                    -moz-transition-duration: 0.2s;
                    transition-duration: 0.2s;
                }
                .btn-buy:hover:before {
                    background: url("../images/content/btn_buy_hover_bg.png") no-repeat center #FFFFFF;
                }
                .top-sellers .btn-buy {
                    top: 5px;
                }

/*--------------------------------RECOMMENDATIONS-----------------------------------*/
.recommendations-block {
    overflow: hidden;
    padding-bottom: 60px;
}
    .block-title {
        position: relative;
        margin-bottom: 32px;
        text-transform: uppercase;
        font: 700 24px "PT Serif";
        letter-spacing: 4px;
        color: #5e1b1b;
        text-align: center;
    }
    .recommendations-block h2 {
        margin-bottom: 32px;
    }
    .header-bg:before,
    .header-bg:after {
        content: "";
        position: absolute;
        top: 7px;
        width: 130px;
        height: 20px;
    }
    .header-bg:before {
        left: 30px;
        background: url("../images/content/header_before_bg.png") no-repeat center;
    }
    .header-bg:after {
        right: 30px;
        background: url("../images/content/header_after_bg.png") no-repeat center;
    }

    .list-border-top {
        border-top: 3px solid #AA9A4F;
    }
        .three-columns li {
            position: relative;
            float: left;
            width: 199px;
            height: 227px;
            padding: 15px 20px;
            border-right: 1px solid #E5E0C7;
            border-bottom: 1px solid #E5E0C7;
            text-align: left;
        }
            .ribbon {
                position: absolute;
                top: -3px;
                right: 20px;
                width: 30px;
                height: 35px;
                background: #AA9A4F;
                font: 700 11px "PT Serif";
                line-height: 28px;
                color: #ffffff;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.3px;
            }
            .ribbon:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 1px;
                border-left: 14px solid transparent;
                border-bottom: 9px solid #ffffff;
                border-right: 14px solid transparent;
            }

            .img-box {
                height: 120px;
                margin: 5px 0 22px;
            }

/*-----------------------------------NIGHT-LESS-------------------------------------*/
.night-less {
    position: relative;
    padding-top: 16px;
    margin-bottom: 54px;
    background: url("../images/content/night_less_bg.jpg") repeat;
    text-align: center;
}
.night-less:after {
    content: "";
    display: block;
    width: 100%;
    height: 86px;
    margin-top: -64px;
    background: url("../images/content/night_botom_bg.png") repeat-x -2px bottom;
}
    .night-less header {
        text-align: center;
        margin-bottom: 31px;
    }
        .night-less h2 {
            margin-bottom: 12px;
            font: 700 30px "PT Serif";
            color: #edebdb;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        .header-second-bg {
            position: relative;
        }
        .header-second-bg:before,
        .header-second-bg:after {
            content: "";
            position: absolute;
            top: 4px;
            width: 60px;
            height: 38px;
        }
        .header-second-bg:before {
            left: 104px;
            background: url("../images/content/header_night_before_bg.png") no-repeat center;
        }
        .header-second-bg:after {
            right: 104px;
            background: url("../images/content/header_night_after_bg.png") no-repeat center;
        }
        .night-less-description {
            font: 400 14px "PT Serif";
            color: #edebdb;
        }

    .list-night-less {
        position: relative;
        z-index: 5;
        overflow: hidden;
        width: 482px;
        margin: 0 auto 21px;
        -webkit-box-shadow: 0 0 10px 5px rgba(40, 35, 12, 0.8);
        -moz-box-shadow: 0 0 10px 5px rgba(40, 35, 12, 0.8);
        box-shadow: 0 0 10px 5px rgba(40, 35, 12, 0.8);
        text-align: left;
    }
        .list-night-less li {
            position: relative;
            float: left;
            width: 200px;
            height: 229px;
            padding: 15px 20px;
            background: #FFFFFF;
            border-left: 1px solid #E5E0C7;
            border-bottom: 1px solid #E5E0C7;
        }
        .list-night-less li:nth-child(odd) {
            border-left: none;
        }

    a.show-all {
        display: inline-block;
        font: 300 14px "PT Serif";
        color: #edebdb;
        letter-spacing: 1px;
    }
        a.show-all span {
            display: inline-block;
            height: 13px;
            width: 13px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            border: 1px solid #edebdb;
            vertical-align: middle;
            font-weight: 700;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
        }

/*------------------------------------NOVELTY---------------------------------------*/
.novelty {
    overflow: hidden;
    padding-bottom: 65px;
    text-align: center;
}
    .novelty h2 {
        margin-bottom: 9px;
    }
    .novelty .show-all,
    .novelty .show-all span {
        color: #5e1b1b;
    }
    .novelty .show-all {
        margin-bottom: 24px;
    }
        .novelty .show-all span {
            border-color: #5e1b1b;
        }

    .ribbon.new {
        background: #C8584B;
    }

/*---------------------------------ABOUT-COMPANY------------------------------------*/
.about-company {
    overflow: hidden;
    padding-bottom: 48px;
}
    .about-box {
        margin-bottom: 27px;
    }
        .about-company header {
            float: left;
            width: 200px;
            padding: 0 20px;
        }
            .about-company h3 {
                font: 700 18px "PT Serif";
                text-transform: uppercase;
                letter-spacing: 3px;
                line-height: 79px;
            }
        .about-company p {
            overflow: hidden;
            font: 400 14px "PT Serif";
            line-height: 20px;
        }

    .brands-slider {
        position: relative;
        overflow: hidden;
    }
        .brands-slider ul {
            display: table;
            height: 100px;
            padding: 0 45px;
        }
            .brands-slider li {
                display: table-cell;
                vertical-align: middle;
                padding: 0 22px;
            }

        .prev,
        .next {
            position: absolute;
            top: 26px;
            display: inline-block;
            width: 40px;
            height: 37px;
            border: 1px solid #E5E0C7;
            -webkit-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
        .prev {
            left: -1px;
            background: url("../images/slider/prev_arrow.png") no-repeat center;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
        }
        .prev:hover {
            background: url("../images/slider/prev_hover_arrow.png") no-repeat center;
        }
        .next {
            right: 0;
            background: url("../images/slider/next_arrow.png") no-repeat center;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
        }
        .next:hover {
            background: url("../images/slider/next_hover_arrow.png") no-repeat center;
        }
        .prev:hover,
        .next:hover {
            cursor: pointer;
        }


/*----------------------------------SUBSCRIPTION------------------------------------*/
.subscription-block {
    overflow: hidden;
    padding: 0 20px 34px;
    margin-bottom: 34px;
    border-bottom: 1px solid #E5E0C7;
}
    .subscription-block header {
        position: relative;
        padding-bottom: 30px;
        text-align: center;
    }
    .subscription-block header:before,
    .subscription-block header:after {
        content: "";
        display: block;
        position: absolute;
        top: 18px;
        height: 1px;
        width: 400px;
        background: #E5E0C7;
    }
    .subscription-block header:before {
        left: -20px;
    }
    .subscription-block header:after {
        right: -20px;
    }
        .subscription-block h3 {
            position: relative;
            z-index: 5;
            width: 154px;
            margin: 0 auto;
            font: 400 14px "PT Serif";
            letter-spacing: 2.5px;
            line-height: 35px;
            text-transform: uppercase;
            background: url("../images/content/subscr_header_bg.png") no-repeat center;
        }

        .subscription-block p {
            float: left;
            width: 50%;
            font-style: italic;
            line-height: 20px;
        }

        .subscription-form {
            overflow: hidden;
            float: right;
            width: 328px;
            margin-top: 5px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
            .subscription-form input[type="email"] {
                width: 173px;
                padding: 0 12px;
                margin-right: -3px;
                border: none;
                font: 400 14px "PT Serif";
                line-height: 33px;
                background: #F0EDDD;
                color: #654d00;
            }
            .subscription-form input[type="submit"] {
                width: 130px;
            }


/*------------------------------------CATALOG-HOME----------------------------------*/
.main-catalog-home {
    margin: 33px 0 28px 0;
}
    .list-catalog-home {
        padding: 3px 0 0 20px;
    }
        .list-catalog-home li {
            position: relative;
            display: inline-block;
            margin: 0 16px 17px 0;
        }
            .list-catalog-home a {
                -webkit-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                transition-duration: 0.2s;
                text-decoration: none;
            }
            .list-catalog-home a:hover {
                opacity: 0.8;
            }
                .list-catalog-home img {
                    width: 214px;
                    height: 219px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                }
                .list-catalog-home h2 {
                    position: absolute;
                    width: 177px;
                    left: 13px;
                    bottom: 18px;
                    padding: 7px 5px;
                    text-align: center;
                    text-transform: uppercase;
                    font: 700 14px 'PT Serif', serif;
                    letter-spacing: 2px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    color: #ffffff;
                    background-color: #5e1b1b;
                    opacity: 0.7;
                }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    clear: right;
    padding: 25px 0 0 0;
}
    .footer-logo {
        width: 250px;
        height: 78px;
        margin: 0 auto 16px;
        text-align: center;
        background-image: url('../images/footer/footer_logo.png');
    }
        .footer-logo a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 66px;
            letter-spacing: 13px;
            color: #654d00;
        }

    .soc-links {
        display: table;
        width: auto;
        margin: 0 auto 16px;
    }
        .soc-links li {
            float: left;
            margin: 0 5px ;
        }

            .soc-links a {
                overflow: hidden;
                display: inline-block;
                width: 30px;
                height: 30px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color:	#AA9A4F;
                opacity: 0.5;
                -webkit-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                transition-duration: 0.2s;
                border: 1px solid #AA9A4F;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background-color: transparent;
            }
            .vk a {
                text-decoration: none;
                font:700 17px 'PT Sans';
                line-height: 30px;
            }
            .soc-links a:hover {
                opacity: 1;
            }
                .tw i {
                    margin-left: 2px;
                }
            
    .footer p{
        margin-bottom: 40px;
        text-align: center;
    }
/*----------------------------------------------------------------------------------*/
/*------------------------------------CATALOG-HOME----------------------------------*/
/*----------------------------------------------------------------------------------*/

.main-contacts {
    margin: 33px 0 76px 0;
}
    ul.list-contacts {
        overflow: hidden;
        margin: 64px 0 17px 0;
    }
        .list-contacts li {
            float: left;
            width: 180px;
            margin: 0 27px 20px 114px;
        }
            .list-contacts header {
                text-transform: uppercase;
                font: 10px 'PT Sans', sans-serif;
                letter-spacing: 2.7px;
            }
            .list-contacts span {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1.1px;
                color: #aa9a4f;
            }
            .list-contacts header.city {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 3.7px;
            }
            .list-contacts span.adress {
                text-transform: none;
                font: 400 14px 'PT Serif', serif;
                letter-spacing: 0;
            }
            .list-contacts a {
                color: #aa9a4f;
                font-weight: 700;
            }
            .list-contacts a:hover {
                text-decoration: none;
            }

    #map_canvas {
        width: 720px;
        height: 415px;
        margin-bottom: 65px;
    }

    .block-title-rite {
        margin-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 3px;
        color: #601d1d;
    }
        .header-rite-bg {
            position: relative;
        }
        .header-rite-bg:before,
        .header-rite-bg:after {
            content: "";
            position: absolute;
            top: 4px;
            width: 60px;
            height: 38px;
        }
        .header-rite-bg:before {
            top: 0px;
            left: 155px;
            background: url("../images/content/header_rite_before_bg.png") no-repeat center;
        }
        .header-rite-bg:after {
            right: 155px;
            top: 0px;
            background: url("../images/content/header_rite_after_bg.png") no-repeat center;
    }
    .rite-to-us {
        margin-left: 185px;
    }

        .rite-to-us label {
            display: block;
            margin-bottom: 12px;
        }
        .rite-to-us input[type=text],
        .rite-to-us input[type=email] {
            width: 330px;
            height: 33px;
            margin-bottom: 25px;
            padding: 0 10px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 11px;
            border: none;
            color: #654d00;
            background-color: #F0EDDD;
        }
        .field-message {
            width: 330px;
            height: 115px;
            padding: 10px 10px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 11px;
            border: none;
            color: #654d00;
            background-color: #F0EDDD;
        }
        .btn-rite-to-us {
            display: block;
            width: 280px ;
            height: 45px;
            margin: 29px 0 0 35px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 3px;
            border: none;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------POPUPS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.popup {
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.11);
    background-color: #E5E0C7;
}

.reg-popup {
    overflow: hidden;
    width: 465px;
    height: 315px;
}
    .btn-close {
        cursor: pointer;
        float: right;
        margin: 6px 12px 0 0;
        font-size: 18px;
    }
    .btn-close:hover {
        color: #5e1b1a;
    }
    .btn-close:active {
        color: #4b1515;
    }

    a.name-form {
        float: left;
        margin: 24px 0 35px 30px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #5e1b1b;
    }
    a.login-link {
        float: left;
        margin: 28px 0 0 38px;
        font: 14px 'PT Serif', serif;
        color: #654d00;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px dashed #654d00;
    }
    a.login-link:hover {
        color: #5e1b1a;
        border-bottom-color: #5e1b1a;
    }
    a.login-link:active {
        color: #4b1515;
        border-bottom-color: #4b1515;
    }

            .reg-popup li,
            .login-popup li,
            .call-me-popup li,
            .buy-one-click-popup li{
                overflow: hidden;
                margin: 0 0 20px 30px;
            }
                .reg-popup label,
                .login-popup label,
                .call-me-popup label,
                .buy-one-click-popup label{
                    font-weight: 700;
                    line-height: 33px;
                    color: #654d00;
                }

                .input-style {
                    float: right;
                    width: 250px;
                    height: 33px;
                    padding-left: 11px;
                    margin-right: 30px;
                    font-size: 16px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 11px;
                    border: none;
                    color: #654d00;
                    background-color: #F0EDDD;
                }

    .btn-reg {
        display: block;
        width: 250px ;
        height: 35px;
        margin: 29px auto 0;
        font-size: 14px;
        letter-spacing: 3px;
        border: none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

.login-popup {
    overflow: hidden;
    width: 465px;
    height: 280px;
}
    .btn-login {
        display: block;
        width: 100px ;
        height: 35px;
        margin: 29px auto 0;
        font-size: 14px;
        letter-spacing: 3px;
        border: none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

.call-me-popup{
    overflow: hidden;
    width: 465px;
    height: 280px;
}
    .call-me-popup p,
    .buy-one-click-popup p{
        float: right;
        margin: -12px 34px 25px 0;
        width: 250px;
        font-size: 14px;
        font-style: italic;
    }
    .cod-tel {
        padding-left: 55px;
    }
    .btn-send {
        clear: both;
        display: block;
        width: 145px;
        height: 35px;
        margin: 29px auto 0;
        font-size: 14px;
        letter-spacing: 3px;
        border: none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
.buy-one-click-popup{
    overflow: hidden;
    width: 465px;
    height: 300px;
}

/*----------------------------------------------------------------------------------*/
/*--------------------------------------OTHER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
